.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--space-1-5);
}

.label {
  color: var(--text-primary);
  font: var(--type-label);
}
